body {
  background-color: #EF626C;
  font-family: helvetica;
}

h1 {
  color: #312F2F;
  font-style: bold;
  font-size: 40px;
  text-align: center;
}
p {
  font-size: 24px;
  margin-left: 40px;
  color: #22181C;
  text-align: center;
}
input {
  display: block;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 10px;
}

#titulo {
  background-color: #F6E8EA;
  border-style: inset;
  margin: auto;
  padding: 5px;
  width: 50%;
  
}

#form {
  margin: 20px;
  padding: 10px;
  text-align: center;
 
}

.boton {
  background-color: #0D3B66;
  color: white;
  border-radius: 10px;
  
}
#produ {
  font-size: 30px;
  color: #F6E8EA;
  font-weight: bold;
}
#answer_box {
  background-color: #84DCCF;
  border-style: inset;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  width: 30%;
  height: 40px;
}